<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    {{ partial "header.html" . }}

    <!-- MAIN -->
    <main class="pt__main">
      <div class="pt__main__hero">
        <h1 class="pt__main__hero__title"><span class="pt__main__long__shadow">Masturbate Less</span></h1>
        <div class="pt__main__hero__sub__title__cont">
          <h2 class="pt__main__hero__sub__title"><span class="pt__main__long__shadow">Learn to</span> <span class="pt__main__long__shadow">control</span> <span class="pt__main__long__shadow">your</span> <span class="pt__main__long__shadow">masturbation</span> <span class="pt__main__long__shadow">habit</span>.</h2>
        </div>
      </div>

      <!-- WHO -->
        <div class="homepage__section">
          <div class="homepage__content">
            <div class="homepage__section homepage__section__more__margin__with__bottom">
              <h1>Who?</h1>
              <p>My name is Julius Reade and I no longer masturbate. <!-- OMG face --> </p>
              <p>I mean, I've got absolutely nothing against it. It's just a choice that I've decided to explore.</p>
              <p>Masturbate Less aims to teach you practical advice on how you can comfortably stop or significantly reduce your masturbation too.</p>
              <p>You know, for tax purposes.</p>

              <ul>
                <li>I no longer crave masturbation in any capacity.</li>
                <li>I haven't thought about masturbation, at all.</li>
                <li>I'm completely in-control over my mind.</li>
                <li>I'm happier, more motivated and more stable as an individual.</li>
              </ul>
            </div>
          </div>
        </div>
      <!-- WHO END -->


      <!-- INDEX -->
        <div class="homepage__section">
          <div class="page__index">
            <h2 class="page__index__title">Index</h1>
              
            <ol class="index__items">
              <h3><i class="page__index__emoji__left em em-clinking_glasses"></i> Why We Masturbate <i class="page__index__emoji__right em em-clinking_glasses"></i></h3>
              <a href="#option"><li class="index__item">Masturbation Is An Option</li></a>
              <a href="#porn_addiction"><li class="index__item">Masturbation And Porn Addiction</li></a>
              <a href="#poor_mental_health"><li class="index__item">Poor Mental Health</li></a>
              <a href="#unhealthy_coping_mechanism"><li class="index__item">Unhealthy Coping Mechanism</li></a>
              <a href="#lack_of_ambition"><li class="index__item">Lack Of Ambition</li></a>
              <a href="#learnt_behaviours"><li class="index__item">Learnt Behaviours</li></a>

              <h3><i class="page__index__emoji__left em em-books"></i> Resources <i class="page__index__emoji__right em em-books"></i></h3>
              <a href="#nfd_guide"><li class="index__item">The Masturbate Less Guide</li></a>
              <a href="#five_fundamentals"><li class="index__item">The Five Fundmental Principles of NeverFap Deluxe</li></a>
            </ol>
          </div>
        </div>
      <!-- INDEX END -->


      <!-- WHY -->
        <div class="main__section">

          {{ partial "main_section_title.html" (dict "Title" "Why We Masturbate" )}}

          <div class="main__section--content__container">
            <div class="main__section--content">
              <p>The primary reason why we masturbate is to cope.</p>
              <p>No different to exercising, smoking, meditating, binging on junk food, going for a brisk walk or screaming maniacally into a pillow.</p>
              <p>Masturbation is simply a coping mechanism we rely on in order to get through life.</p>
              <h3>Now, there's nothing inherently wrong with the act of masturbation itself.</h3>
              <p>Just as there's nothing inherently wrong with shooting up heroin or taking a relaxing bath.</p>
              <p>It is merely a coping mechanism that you engage with.</p>
              <p>Sure, there are very real consequences in the ways that we decide to cope and live our lives, however in order to truly understand what masturbation is, you have to put the moral arguments of 'wrong' or 'right' aside and understand coping mechanisms as simple actions.</p>
              <p>Otherwise.</p>
  
            </div>
          </div>
        </div>
      <!-- WHY END -->

ka_
      <!-- WHY -->
        <div class="main__section">
          {{ partial "main_section_title.html" (dict "Title" "Do I have a problem with masturbation?" )}}

          <div class="main__section--content__container">
            <div class="main__section--content">
                <p>Once you understand that masturbation is nothing more than a coping mechanism, there's another important thing you must do.</p>
                <h3>You must identify whether you think masturbation is a healthy or unhealthy coping mechanism.</h3>
                <p>If you feel as if you're coping fine with the level of masturbation</p>
    
    
                <p>Now there are </p>
    
            </div>
          </div>
        </div>



      <!-- PORN ADDICTION -->
        <div id="porn_addiction" class="homepage__section">
          <div class="main__section--title__container">
            <h2 class="main__section--title">
              Developing healthy coping mechanisms
            </h2>
          </div>

          <div class="homepage__content">
            <p>So really, in order to regain control over our masturbation habit we need to focus our efforts on developing Healthy Coping Mechanisms.</p>
            <p>Healthy coping mechanism are what </p>

            <p>Of course, the underlying issues often run much deeper.</p>
            <p>Part of the reason why we pursue unhealthy coping mechanisms. </p>

            <!-- TODO: Link to article -->
          </div>
        </div>
      <!-- PORN ADDICTION END -->


      <!-- POOR MENTAL HEALTH -->
        <div id="poor_mental_health" class="homepage__section">
          <div class="homepage__content">
            <h1>Poor Mental Health</h1>

            <p>The reason why most people struggle to control their masturbation is because they're addicted to porn.</p>
            <p>Certainly, porn was the primary reason why I struggled so much with my porn addiction.</p>
            <p>In essence, it means addressing porn addiction which in most cases means </p>
            <p>If you'd like to learn more about overcoming porn addiction, I also run a website called <a href="https://neverfapdeluxe.com/">NeverFap Deluxe</a> which explores these themes in detail.</p>
            <p>Otherwise there are a wealth of resources available online </p>

            <!-- TODO: Link to article -->
          </div>
        </div>
      <!-- POOR MENTAL HEALTH END -->

      <!-- LACK OF AMBITION -->
        <div id="lack_of_ambition" class="homepage__section">
          <div class="homepage__content">
            <h1>Lack of ambition</h1>

            <!-- TODO: Link to article -->
          </div>
        </div>
      <!-- LACK OF AMBITION END -->

      <!-- LEARNT BEHAVIOURS -->
        <div id="learnt_behaviours" class="homepage__section">
          <div class="homepage__content">
            <h1>Learnt Behaviour</h1>


          </div>
        </div>
      <!-- LEARNT BEHAVIOURS END -->

      <!-- COPING MECHANISM -->
        <div id="unhealthy_coping_mechanism" class="homepage__section">
          <div class="homepage__content">
            <h1>Unhealthy Coping Mechanism</h1>


          </div>
        </div>
      <!-- COPING MECHANISM END -->


    </main>

    {{ partial "footer.html" . }}

  </body>
</html>

