.pt__main {
  .pt__main__hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem;

    .pt__main__hero__title {
      font-size: 7rem;
      line-height: 10rem;
    }

    .pt__main__hero__sub__title {
      font-size: 4rem;
      line-height: 6rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .pt__main {
    .pt__main__hero {
      flex-direction: row;
      padding: 4rem;
    }
  }
}