<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    {{ partial "header.html" . }}

    <!-- MAIN -->
    <main class="pt__main">
      <div class="pt__main__hero">
        <h1 class="pt__main__hero__title">Masturbate Less</h1>
        <h2 class="pt__main__hero__sub__title">Learn to control your masturbation habits.</h2>
      </div>

      <!-- WHO -->
        <div class="homepage__section">
          <div class="homepage__content">
            <div class="homepage__section homepage__section__more__margin__with__bottom">
              <h1>Who?</h1>
              <p>My name is Julius Reade and I no longer masturbate. <!-- OMG face --> </p>
              <p>I mean, I've got absolutely nothing against it. It's just a choice that I've decided to explore.</p>
              <p>Masturbate Less aims to teach you practical advice on how you can comfortably stop or significantly reduce your masturbation too.</p>
              <p>You know, for tax purposes.</p>

              <ul>
                <li>I no longer crave masturbation in any capacity.</li>
                <li>I haven't thought about masturbation, at all.</li>
                <li>I'm completely in-control over my mind.</li>
                <li>I'm happier, more motivated and more stable as an individual.</li>
              </ul>
            </div>
          </div>
        </div>
      <!-- WHO END -->


      <%# INDEX %>
        <div class="single__wrapper">
          <div class="page__index">
            <h2 class="page__index__title">Index</h1>

            <ol class="index__items">
              <h3><i class="page__index__emoji__left em em-100"></i> Why We Masturbate <i class="page__index__emoji__right em em-100"></i></h3>
              <a href="#option"><li class="index__item">Masturbation Is An Option</li></a>
              <a href="#porn_addiction"><li class="index__item">Masturbation And Porn Addiction</li></a>
              <a href="#lack_of_ambition"><li class="index__item">Lack Of Ambition</li></a>
              <a href="#poor_mental_health"><li class="index__item">Poor Mental Health</li></a>
              <a href="#learnt_behaviours"><li class="index__item">Learnt Behaviours</li></a>
              <a href="#unhealthy_coping_mechanism"><li class="index__item">Unhealthy Coping Mechanism</li></a>

              <h3><i class="page__index__emoji__left em em-books"></i> Resources <i class="page__index__emoji__right em em-books"></i></h3>
              <a href="#nfd_guide"><li class="index__item">The Masturbate Less Guide</li></a>
              <a href="#five_fundamentals"><li class="index__item">The Five Fundmental Principles of NeverFap Deluxe</li></a>
            </ol>
          </div>
        </div>
      <%# INDEX END %>


      <!-- WHY -->
        <div id="option" class="homepage__section">
          <div class="homepage__content">
            <h1>Why we masturbate?</h1> <!-- The Reade&copy; -->
            <p>Before we can stop or significantly reduce our masturbation habits, we first need to understand why we masturbate in the first place.</p>
            <p>And in order to do this, we must understand that there's nothing necessarily wrong with masturbating within itself.</p>
            <p>It's merely an option we have and when you understand it as an option, it becomes a whole lot easier to reason with.</p>
            <h3>Because it also validates not masturbating as an equally valid option as well.</h3>
            <p>Now there's any number of reasons why we masturbate, so let's explore those in a little more detail so you can better understand where you might be struggling with giving up masturbation.</p>
          </div>
        </div>
      <!-- WHY END -->


      <!-- PORN ADDICTION -->
        <div id="porn_addiction" class="homepage__section">
          <div class="homepage__content">
            <h1>Masturbation and Porn Addiction</h1>
            <p>The reason why most people struggle to control their masturbation is because they're addicted to porn.</p>
            <p>Certainly, porn was the primary reason why I struggled so much with my porn addiction.</p>
            <p>In essence, it means addressing porn addiction which in most cases means </p>
            <p>If you'd like to learn more about overcoming porn addiction, I also run a website called <a href="https://neverfapdeluxe.com/">NeverFap Deluxe</a> which explores these themes in detail.</p>
            <p>Otherwise there are a wealth of resources available online </p>

            <!-- TODO: Link to article -->
          </div>
        </div>
      <!-- PORN ADDICTION END -->


      <!-- POOR MENTAL HEALTH -->
        <div id="poor_mental_health" class="homepage__section">
          <div class="homepage__content">
            <h1>Poor Mental Health</h1>
            
            <!-- TODO: Link to article -->
          </div>
        </div>
      <!-- POOR MENTAL HEALTH END -->
    
      <!-- LACK OF AMBITION -->
        <div id="lack_of_ambition" class="homepage__section">
          <div class="homepage__content">
            <h1>Lack of ambition</h1>
            
            <!-- TODO: Link to article -->
          </div>
        </div>
      <!-- LACK OF AMBITION END -->

      <!-- LEARNT BEHAVIOURS -->
        <div id="learnt_behaviours" class="homepage__section">
          <div class="homepage__content">
            <h1>Learnt Behaviour</h1>
            
            
          </div>
        </div>
      <!-- LEARNT BEHAVIOURS END -->
    
      <!-- COPING MECHANISM -->
        <div id="unhealthy_coping_mechanism" class="homepage__section">
          <div class="homepage__content">
            <h1>Unhealthy Coping Mechanism</h1>
            
            
          </div>
        </div>
      <!-- COPING MECHANISM END -->
    

    </main>

    {{ partial "footer.html" . }}

  </body>
</html>

