.single__hero {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;

  // min-height: 100vh;
  width: 70%;
  margin-bottom: 6rem;

  .single__hero__title {
    // box-shadow: -5px 5px 0px 0px black;

    color: white;
    // border: 4px solid white;
    background: black;

    padding: 3rem;
    padding-bottom: 4rem;
    padding-left: 4rem;

    text-align: left;
    font-size: 8rem;
    line-height: 7.5rem;
    @include long-shadow(text, darken($yellow, 5), 30, false, false, left);
  }

  .single__hero__sub__title {

  }
}

.single__wrapper {
  margin: 10px;

  h2 {
    font-size: 2rem;
  }

  .single__title {
    margin-top: 2rem;
    margin-bottom: 1.6rem;

    font-size: 2.5rem;
    line-height: 3.4rem;
  }

  .single__content {

    p {
      margin-bottom: 1.2rem;
    }

    .five__principles__item {
      margin-top: 1.5rem!important;
    }

    ul {
      display: flex;
      flex-direction: column;


      margin-bottom: 1.4rem;
      margin-top: 1.4rem;
      padding-left: 0.5rem;

      li, b {
        display: block;
        // list-style: none;
        font-size: 1.1rem;
        margin-bottom: 0.4rem;

        strong {
          display: block;
          margin-bottom: 0.8rem;
        }
      }
    }
  }

  .single__next__prev {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .button__wrapper {
      justify-content: center!important;
    }
  }
}

.single__homepage__process {
  margin-top: 1rem;
}

@media screen and (min-width: 420px) {
  .single__wrapper {
    margin: 40px;
    margin-top: 40px;

    .single__title {
      margin-top: 2rem;
    }
    .single__content {
      margin-top: 2.5rem;
      margin-bottom: 1.5rem;

      ul {
        margin-bottom: 2.5rem;
        margin-top: 2.5rem;
        padding-left: 2rem;

        li, b {
          font-size: 1.1rem;
          margin-top: 0.4rem;
          margin-bottom: 0.4rem;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .single__wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 160px;
    width: 600px;
    .single__content {
      margin-top: 0;
    }
  }
}

@media screen and (min-width: 1280px) {
  .single__wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 240px;
  }
}