{{ define "main" }}
  <div class="single__hero">
    <h2 class="single__hero__title">{{ .Title }} </h2>
  </div>

  <!-- INDEX -->
    <div class="single__wrapper">
      <div class="page__index">
        <h2 class="page__index__title">Index</h1>

        <ol class="index__items">
          <h3><i class="page__index__emoji__left em em-ledger"></i> Articles <i class="page__index__emoji__right em em-ledger"></i></h3>
          <a href="#introduction"><li class="index__item">Introduction</li></a>
          <a href="#articles_list"><li class="index__item">Articles List</li></a>
          <a href="#next_steps"><li class="index__item">Next Steps</li></a>
        </ol>
      </div>
    </div>
  <!-- INDEX END -->

  <!-- INTRODUCTION -->
    <div id="introduction" class="single__wrapper">
      <div class="single__content">
        <h2>Introduction</h2>
        <p>Masturbate Less features a range of articles which help explain the dynamics of why we masturbate, as well as what we can do to regain control over our masturbation habit.</p>
      </div>
    </div>
  <!-- INTRODUCTION END -->

  <div id="articles_list" class="single__wrapper">
    <div class="single__content">
      <h2>Articles List</h2>

      {{ range .Site.RegularPages }}
        <a class="post" href="{{.Permalink}}">
          <h5 class="post__date">{{.Date.Format "2006-01-02"}}</h5>
          <h4 class="post__title">{{.LinkTitle}}</h4>
        </a>
      {{ end }}  
    </div>
  </div>
{{ end }}